<!-- ======== Region: #footer ======== -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <h3 class="text-white text-uppercase text-slab font-weight-bold">
                    AST<span class="text-primary"> Rentals</span>
                </h3>
                <p class="text-sm">Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
                <address>
                    <ul class="list-unstyled text-sm">
                        <li>
                            <abbr title="Phone"><i class="fa fa-phone fa-fw text-white"></i></abbr>
                            (+44) 7283643345
                        </li>
                        <li>
                            <abbr title="Email"><i class="fa fa-envelope fa-fw text-white"></i></abbr>
                            info@appstraptheme.com
                        </li>
                        <li>
                            <abbr title="Address"><i class="fa fa-home fa-fw text-white"></i></abbr>
                            Sunshine House, Sunville. SUN12 8LU.
                        </li>
                    </ul>
                </address>
                <!--social media icons-->
                <div class="mt-3 mb-4 mb-lg-0">
                    <!--todo: replace with company social media details-->
                    <a href="#" class="btn btn-icon btn-inverse btn-invert btn-rounded"> <i class="fa fa-twitter"></i> <span class="sr-only">Twitter</span> </a>
                    <a href="#" class="btn btn-icon btn-inverse btn-invert btn-rounded"> <i class="fa fa-facebook"></i> <span class="sr-only">Facebook</span> </a>
                    <a href="#" class="btn btn-icon btn-inverse btn-invert btn-rounded"> <i class="fa fa-linkedin"></i> <span class="sr-only">Linkedin</span> </a>
                    <a href="#" class="btn btn-icon btn-inverse btn-invert btn-rounded"> <i class="fa fa-google-plus"></i> <span class="sr-only">Google plus</span> </a>
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <h4 class="mt-0 text-slab">
                            Mens
                        </h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="mt-0 text-slab">
                            Womens
                        </h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="mt-0 text-slab">
                            Childrens
                        </h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Sports Wear</a></li>
                            <li><a href="#">School Clothes</a></li>
                            <li><a href="#">Trousers</a></li>
                            <li><a href="#">Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="mt-0 text-slab">
                            Baby
                        </h4>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Newborn</a></li>
                            <li><a href="#">Toddler</a></li>
                            <li><a href="#">Preschool</a></li>
                            <li><a href="#">Winter Suits</a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sportswear</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">T-shirts</a></li>
                            <li><a href="#">Trousers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4 hr-white op-1" />
        <!--todo: replace with company copyright details-->
        <div class="subfooter text-sm text-center">
            <p>Site template by <a href="appstraptheme.com" class="footer-link">AppStrap</a> | Copyright 2017 &copy; AppStrap</p>
            <ul class="list-inline footer-links">
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="@Url.Action("Index", "Home")">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <a href="#top" class="btn btn-icon btn-inverse pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden hidden-md-down" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
</footer>
