
@{
    ViewBag.Title = "LogIn";
}

 <!-- ======== Region: body ======== -->
<div class="page page-shop header-compact-sticky page-shop-list navbar-layout-navbar-below" ng-controller="loginController as vm">

    <!-- plugin: page loading indicator, delete to remove loader -->
    <div class="page-loader" data-toggle="page-loader"></div>

    <a href="#content" id="top" class="sr-only">Skip to content</a>
    
    @Html.Partial("~/Views/Cars/PartialViews/_Header.cshtml")

    <!-- ======== Region: #content ======== -->
    <div id="content">
        <div class="container">
            <!-- Login form -->
            <form class="form-login form-wrapper form-narrow" ng-submit="vm.loginSubmit()">
                <h3 class="title-divider">
                    <span>Login</span>
                    <small class="mt-4">Not signed up? <a href="pricing.htm">Sign up here</a>.</small>
                </h3>
                <div class="form-group">
                    <label class="sr-only" for="login-email-page">Email</label>
                    <input type="email" id="login-email-page" class="form-control email" ng-model="vm.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="login-password-page">Password</label>
                    <input type="password" id="login-password-page" class="form-control password" ng-model="vm.password" placeholder="Password">
                </div>
                <div class="alert alert-warning" role="alert" ng-show="vm.error !== ''"> <strong>Warning:</strong> {{vm.error}}</div>
                <button type="submit" class="btn btn-primary">Login</button>
                |
                <small><a href="#">Forgotten Password?</a></small>
            </form>
        </div>
    </div>
</div>

@Html.Partial("_Footer")

@section scripts{
    <!-- Angular scripts -->
    <script src="~/App/loginController.js"></script>
    <script src="~/App/services/loginService.js"></script>
    <script src="~/App/services/userInfoService.js"></script>
}