<!-- Sections Menu-->
<ul class="nav nav-section-menu mb-4 py-3" id="Categories">
    <li class="nav-header">Categories</li>
    <li>
        <a href="#mens" data-toggle="collapse" class="nav-link text-uppercase text-slab first active">
            Cars By Make
            <small class="d-inline-block text-xs text-lowercase">(active)</small>
            <i class="fa fa-angle-right"></i>
        </a>
        <ul class="nav nav-section-menu collapse show" id="mens">
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Aston Martin', 1, 10)">Aston Martin</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Audi', 1, 10)">Audi</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Bentley', 1, 10)">Bentley</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('BMW', 1, 10)">BMW</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Dodge', 1, 10)">Dodge</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Ford', 1, 10)">Ford</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Mazda', 1, 10)">Mazda</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Mercedes-Benz', 1, 10)">Mercedes-Benz</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Mitsubishi', 1, 10)">Mitsubishi</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Pontiac', 1, 10)">Pontiac</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Porsche', 1, 10)">Porsche</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getPage('Volkswagen', 1, 10)">Volkswagen</a></li>
        </ul>
    </li>
    <li>
        <a href="#womens" data-toggle="collapse" class="nav-link text-uppercase text-slab"> Womens <i class="fa fa-angle-right"></i> </a>
        <ul class="nav nav-section-menu collapse" id="womens">
            <li><a href="#" class="nav-link">Dresses</a></li>
            <li><a href="#" class="nav-link">Jeans</a></li>
            <li><a href="#" class="nav-link">Skirts</a></li>
            <li><a href="#" class="nav-link">Suits</a></li>
            <li><a href="#" class="nav-link">Jackets</a></li>
            <li><a href="#" class="nav-link">Sportswear</a></li>
            <li><a href="#" class="nav-link">Shorts</a></li>
            <li><a href="#" class="nav-link">Swimwear</a></li>
            <li><a href="#" class="nav-link">T-shirts</a></li>
        </ul>
    </li>
    <li>
        <a href="#childrens" data-toggle="collapse" class="nav-link text-uppercase text-slab"> Childrens <i class="fa fa-angle-right"></i> </a>
        <ul class="nav nav-section-menu collapse" id="childrens">
            <li><a href="#" class="nav-link">Shoes</a></li>
            <li><a href="#" class="nav-link">Sports Wear</a></li>
            <li><a href="#" class="nav-link">School Clothes</a></li>
            <li><a href="#" class="nav-link">Trousers</a></li>
            <li><a href="#" class="nav-link">Suits</a></li>
            <li><a href="#" class="nav-link">Jackets</a></li>
            <li><a href="#" class="nav-link">Sportswear</a></li>
            <li><a href="#" class="nav-link">Swimwear</a></li>
            <li><a href="#" class="nav-link">T-shirts</a></li>
        </ul>
    </li>
    <li>
        <a href="#baby" data-toggle="collapse" class="nav-link text-uppercase text-slab"> Baby <i class="fa fa-angle-right"></i> </a>
        <ul class="nav nav-section-menu collapse" id="baby">
            <li><a href="#" class="nav-link">Newborn</a></li>
            <li><a href="#" class="nav-link">Toddler</a></li>
            <li><a href="#" class="nav-link">Preschool</a></li>
            <li><a href="#" class="nav-link">Winter Suits</a></li>
            <li><a href="#" class="nav-link">Jackets</a></li>
            <li><a href="#" class="nav-link">Sportswear</a></li>
            <li><a href="#" class="nav-link">Swimwear</a></li>
            <li><a href="#" class="nav-link">T-shirts</a></li>
            <li><a href="#" class="nav-link">Trousers</a></li>
        </ul>
    </li>
</ul>