<!-- Sections Menu-->
<ul class="nav nav-section-menu mb-4 py-3" id="Categories">
    <li class="nav-header">Categories</li>
    <li>
        <a href="#make" data-toggle="collapse" class="nav-link text-uppercase text-slab first active" ng-class="(status=='make') ? 'nav-link text-uppercase text-slab' : 'nav-link text-uppercase text-slab first active'" ng-click="(status=='make') ? status='mkinactive' : status='make'">
            Cars By Make
            <small class="d-inline-block text-xs text-lowercase">(active)</small>
            <i class="fa fa-angle-right"></i>
        </a>
        <ul class="nav nav-section-menu collapse show" id="make">
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Aston Martin', 1, vm.pageSizeSelection, 'make')">Aston Martin</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Audi', 1, vm.pageSizeSelection, 'make')">Audi</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Bentley', 1, vm.pageSizeSelection, 'make')">Bentley</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('BMW', 1, vm.pageSizeSelection, 'make')">BMW</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Dodge', 1, vm.pageSizeSelection, 'make')">Dodge</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Ford', 1, vm.pageSizeSelection, 'make')">Ford</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Mazda', 1, vm.pageSizeSelection, 'make')">Mazda</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Mercedes-Benz', 1, vm.pageSizeSelection, 'make')">Mercedes-Benz</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Mitsubishi', 1, vm.pageSizeSelection, 'make')">Mitsubishi</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Pontiac', 1, vm.pageSizeSelection, 'make')">Pontiac</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Porsche', 1, vm.pageSizeSelection, 'make')">Porsche</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Volkswagen', 1, vm.pageSizeSelection, 'make')">Volkswagen</a></li>
        </ul>
    </li>
    <li>
        <a href="#year" data-toggle="collapse" class="nav-link text-uppercase text-slab" ng-class="(status=='year') ? 'nav-link text-uppercase text-slab first active' : 'nav-link text-uppercase text-slab'" ng-click="(status=='year') ? status='yrinactive' : status='year'">
            Cars By Year <i class="fa fa-angle-right"></i>
        </a>
        <ul class="nav nav-section-menu collapse" id="year">
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2013, 1, vm.pageSizeSelection, 'year')">2013</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2012, 1, vm.pageSizeSelection, 'year')">2012</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2011, 1, vm.pageSizeSelection, 'year')">2011</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2010, 1, vm.pageSizeSelection, 'year')">2010</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2009, 1, vm.pageSizeSelection, 'year')">2009</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2008, 1, vm.pageSizeSelection, 'year')">2008</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2007, 1, vm.pageSizeSelection, 'year')">2007</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2006, 1, vm.pageSizeSelection, 'year')">2006</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2005, 1, vm.pageSizeSelection, 'year')">2005</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars(2004, 1, vm.pageSizeSelection, 'year')">2004</a></li>
        </ul>
    </li>
    <li>
        <a href="#model" data-toggle="collapse" class="nav-link text-uppercase text-slab" ng-class="(status=='mkmdl') ? 'nav-link text-uppercase text-slab first active' : 'nav-link text-uppercase text-slab'" ng-click="(status=='mkmdl') ? status='mkmdlinactive' : status='mkmdl'">
             Make & Model <i class="fa fa-angle-right"></i>
        </a>
        <ul class="nav nav-section-menu collapse" id="model">
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Ford Mustang', 1, vm.pageSizeSelection, 'search')">Ford Mustang</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Chevrolet Corvette', 1, vm.pageSizeSelection, 'search')">Chevrolet Corvette</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Honda Civic', 1, vm.pageSizeSelection, 'search')">Honda Civic</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Subaru Impreza', 1, vm.pageSizeSelection, 'search')">Subaru Impreza</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('BMW M6', 1, vm.pageSizeSelection, 'search')">BMW M6</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Volkswagen GTI', 1, vm.pageSizeSelection, 'search')">Volkswagen GTI</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Dodge Viper', 1, vm.pageSizeSelection, 'search')">Dodge Viper</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Jaguar XJ', 1, vm.pageSizeSelection, 'search')">Jaguar XJ</a></li>
            <li><a href="#" class="nav-link" ng-click="vm.getCars('Audi A8', 1, vm.pageSizeSelection, 'search')">Audi A8</a></li>
        </ul>
    </li>
    <li>
        <a href="#specials" data-toggle="collapse" class="nav-link text-uppercase text-slab" ng-class="(status=='spec') ? 'nav-link text-uppercase text-slab first active' : 'nav-link text-uppercase text-slab'" ng-click="(status=='spec') ? status='specinactive' : status='spec'">
             Specials <i class="fa fa-angle-right"></i>
        </a>
        <ul class="nav nav-section-menu collapse" id="specials">
            <li><a href="#" class="nav-link">Convertibles</a></li>
            <li><a href="#" class="nav-link">Roadsters</a></li>
            <li><a href="#" class="nav-link">Sports Cars</a></li>
            <li><a href="#" class="nav-link">American Muscle</a></li>
            <li><a href="#" class="nav-link">British Classics</a></li>
            <li><a href="#" class="nav-link">Hatchbacks</a></li>
            <li><a href="#" class="nav-link">Sedan</a></li>
            <li><a href="#" class="nav-link">Coupe</a></li>
            <li><a href="#" class="nav-link">4x4s</a></li>
        </ul>
    </li>
</ul>