
@{
    ViewBag.Title = "Confirmation";
}

<div class="page page-shop header-compact-sticky page-shop-confirmation navbar-layout-navbar-below">

    <!-- plugin: page loading indicator, delete to remove loader -->
    <div class="page-loader" data-toggle="page-loader"></div>

    <a href="#content" id="top" class="sr-only">Skip to content</a>
    
    @Html.Partial("PartialViews/_Header")

    <div id="content" class="py-5">
        <div class="container">
            <div class="text-center mb-6">
                <i class="fa fa-check-circle icon-6x text-success"></i>
                <h3>
                    Your order has been successfully placed!
                </h3>
                <h4 class="font-weight-normal">
                    Your order number is: 346899-2834-ZZA
                </h4>
                <p>A confirmation email has been sent to your email address: example@example.com.</p>
            </div>
            <h4>
                Order Summary
            </h4>
            <table class="table table-responsive mb-0 cart-table cart-table-summary">
                <tbody>
                    <!-- Cart item 1 -->
                    <tr>
                        <td class="text-left w-10">
                            <a href="#">
                                <img class="cart-img img-fluid" src="assets/img/shop/gloves-1-thumb.jpg" alt="Product 1">
                            </a>
                        </td>
                        <td class="w-75"> <span class="font-weight-bold">Gloves</span> / $18.99 x 2 </td>
                        <td class="text-md-right w-15"><span class="font-weight-bold">$37.98</span></td>
                    </tr>
                    <!-- Cart item 2 -->
                    <tr>
                        <td class="text-left w-10">
                            <a href="#">
                                <img class="cart-img img-fluid" src="assets/img/shop/shoes-1-thumb.jpg" alt="Product 1">
                            </a>
                        </td>
                        <td class="w-75"> <span class="font-weight-bold">Shoes</span> / $12.99 x 1 </td>
                        <td class="text-md-right w-15"><span class="font-weight-bold">$12.99</span></td>
                    </tr>
                    <!-- Cart item 3 -->
                    <tr>
                        <td class="text-left w-10">
                            <a href="#">
                                <img class="cart-img img-fluid" src="assets/img/shop/gloves-1-thumb.jpg" alt="Product 1">
                            </a>
                        </td>
                        <td class="w-75"> <span class="font-weight-bold">Gloves</span> / $18.99 x 2 </td>
                        <td class="text-md-right w-15"><span class="font-weight-bold">$37.98</span></td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-4 hr-lg" />
            <div class="cart-content-footer">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="text-muted mb-3">
                            If you have questions about your order please email us at example@example.com.
                        </h6>
                    </div>
                    <div class="col-md-8 text-md-right mt-3 mt-md-0">
                        <div class="cart-content-totals">
                            <h4 class="font-weight-light">
                                Subtotal: $50.97
                            </h4>
                            <h4 class="font-weight-light">
                                Discount (10%): <span class="text-danger">-$5.97</span>
                            </h4>
                            <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
                            <h3>
                                Total: <span class="text-primary">$45.00</span>
                            </h3>
                            <hr class="my-3 w-50 ml-0 ml-md-auto mr-md-0" />
                        </div>
                        <!-- Proceed to checkout -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
